@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica/Helvetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica/Helvetica-Oblique.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@theme {
  --color-background: #06121F;
  --color-darksky: #0A233F;
  --color-seashore: #42A7C5;
  --color-danger: #EF3841;
  --font-barlow: 'Barlow', sans-serif;
  --font-helvetica: 'Helvetica', sans-serif;
}

:root {
    --catenary-background: #06121F;
    --catenary-darksky: #0A233F;
    --catenary-seashore: #42A7C5;
    --catenary-danger: #EF3841;
    --catenary-text: #ffffff;
    --font-main: var(--font-barlow);
}

html {
    background: black;
}

body {
    background: var(--catenary-background);
    padding: 0;
    margin: 0;
    height: 56.25vw;
    position: fixed;
    width: 100%;
    color: var(--catenary-text);
    overflow: hidden;
}

* {
    font-family: var(--font-main) !important;
    user-select: none !important;
}

.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}