@import "tailwindcss";

@theme {
  --color-background: #06121F;
  --color-darksky: #0A233F;
  --color-seashore: #42A7C5;
  --color-danger: #EF3841;
  --font-barlow: 'Barlow', sans-serif;
}

:root {
    --catenary-background: #06121F;
    --catenary-darksky: #0A233F;
    --catenary-seashore: #42A7C5;
    --catenary-danger: #EF3841;
}

html {
    background: black;
}

body {
    background: var(--catenary-background);
    padding: 0;
    margin: 0;
    height: 56.25vw;
    position: fixed;
    width: 100%;
    color: white;
    overflow: hidden;
}

* {
    font-family: 'Barlow', sans-serif !important;
    cursor: crosshair !important;
    user-select: none !important;
}

.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}